* {
  text-align: center;
}

#top {
  /*width: 100%;*/
  height: 500px;
  background-color: #b1db1c;
  top: 20%; }

.top-section {
  color: #fff;
  font-size: 60px;
  font-family: "Abel";
  padding-top: 160px; }
  .top-section img {
    border-radius: 80px;
    width: 160px;
    border: solid #fff;}

.box {
  margin: 32px 0;
  font-weight: bold;
  color: #000;
  background: #eaf9b1;
  border: solid 3px #ff96f2;
  border-radius: 10px;}
  .box p {
    margin: 0;
    padding: 0;}

  .topText {
    font-size: 25px;}

  .topSetsumei {
    font-size: 20px;}

  .tap {
    color: #ff002e;}

.hidden_box {
  margin: 2em 0;
  padding: 0;}
  .hidden_box input {
  display: none;}
  .hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;}
  .hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;}
